<template>
  <v-container class="nbaDashboard">
    <h1>Dashboard</h1>
    <Loader v-if="isLoading" />
    <div v-else>
      <v-row class="nbaDashboard__players">
        <v-col
          v-for="player in players"
          :key="player.id"
          cols="12"
          sm="6"
          md="4"
          lg="3"
        >
          <v-card elevation="2">
            <v-card-title class="nbaDashboard__playerName">
              {{ player.firstName }} {{ player.lastName }}
              <v-btn @click="$router.push({path: `/player/${player.id}`})">
                Details
              </v-btn>
            </v-card-title>
          </v-card>
        </v-col>
      </v-row>
      <v-divider class="nbaDashboard__separator"></v-divider>
      <v-pagination
        v-model="pagination.current"
        :length="pagination.total"
      ></v-pagination>
    </div>
  </v-container>
</template>

<style lang="scss" scoped>
.nbaDashboard {
  .v-card {
    &-title {
      font-size: 14px;
    }
    .v-btn {
      margin-left: auto;
    }
  }
  &__separator {
    margin:20px 0;
  }
  .v-pagination__item {
    margin: 4px;
  }
}
</style>

<script lang='ts'>
import { defineComponent } from 'vue';
import { ActionTypes } from '@/store/actions';
import { Player } from '@/interfaces/PlayerInterface';
import Loader from '@/components/common/Loader.vue';

export default defineComponent({
  name: 'Dashboard',
  components: {
    Loader,
  },
  data() {
    return {
      players: new Array<Player>(),
      isLoading: true,
      pagination: {
        current: 1,
        total: 0,
      },
    };
  },
  watch: {
    // eslint-disable-next-line func-names
    'pagination.current': function () {
      this.getPages();
    },
  },
  mounted() {
    this.getPages();
  },
  methods: {
    getPages() {
      this.$store.dispatch(
        ActionTypes.GET_PAGES,
        { pageNumber: this.pagination.current },
      ).then((result) => {
        this.players = result.players;
        this.pagination.total = result.totalPages;
        this.isLoading = false;
      });
    },
  },
});
</script>
