<template>
  <v-container class="nbaDashboard">
    <Loader v-if="isLoading" />
    <div v-else>
      <h1>{{ player.firstName }} {{ player.lastName }}</h1>
      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <v-card elevation="3">
            <v-card-title>Details</v-card-title>
            <v-card-text>
              <v-row>
                <v-col cols="6"><strong>Position</strong></v-col>
                <v-col cols="6">
                  <span v-if="player.position">{{ player.position }}</span>
                  <span v-else>-</span>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6"><strong>Height feet</strong></v-col>
                <v-col cols="6">
                  <span v-if="player.heightFeet">{{ player.heightFeet }}</span>
                  <span v-else>-</span>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6"><strong>Height inches</strong></v-col>
                <v-col cols="6">
                  <span v-if="player.heightInches">{{ player.heightInches }}</span>
                  <span v-else>-</span>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6"><strong>Weight pounds</strong></v-col>
                <v-col cols="6">
                  <span v-if="player.weightPounds">{{ player.weightPounds }}</span>
                  <span v-else>-</span>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col
            cols="12"
            md="6"
        >
          <v-card elevation="3">
            <v-card-title>Team</v-card-title>
            <v-card-text>
              <v-row>
                <v-col cols="6"><strong>Name</strong></v-col>
                <v-col cols="6">
                  <span v-if="player.team.fullName">{{ player.team.fullName }}</span>
                  <span v-else>-</span>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6"><strong>Conference</strong></v-col>
                <v-col cols="6">
                  <span v-if="player.team.conference">{{ player.team.conference }}</span>
                  <span v-else>-</span>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6"><strong>Division</strong></v-col>
                <v-col cols="6">
                  <span v-if="player.team.division">{{ player.team.division }}</span>
                  <span v-else>-</span>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6"><strong>City</strong></v-col>
                <v-col cols="6">
                  <span v-if="player.team.city">{{ player.team.city }}</span>
                  <span v-else>-</span>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="6" >
          <v-card elevation="3">
            <v-card-title>Games per season</v-card-title>
            <Chart
              :options="chartGamesOptions"
              :series="seriesGames"
            />
          </v-card>
        </v-col>
        <v-col cols="12" md="6" >
          <v-card elevation="3">
            <v-card-title>Points per season</v-card-title>
            <Chart
              :options="chartPointsOptions"
              :series="seriesPoints"
            />
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import axios, { AxiosResponse } from 'axios';
import { Player, defaultPlayer } from '@/interfaces/PlayerInterface';
import { Stats, defaultStats } from '@/interfaces/StatsInterface';
import Loader from '@/components/common/Loader.vue';
import Chart from '@/components/common/Chart.vue';
import camelcaseKeys from 'camelcase-keys';

const games : number[] = [];
const points : number[] = [];
const chartGamesName = 'Games per seasons';
const chartPointsName = 'Points per seasons';

export default defineComponent({
  name: 'Dashboard',
  components: {
    Loader,
    Chart,
  },
  data() {
    return {
      player: defaultPlayer,
      statsRaw: defaultStats,
      isLoading: true,
      statsPagination: {
        current: 1,
        next: 1,
        total: 0,
      },
      stats: {
        games,
        points,
      },
      chartGamesOptions: {
        chart: {
          id: chartGamesName,
        },
        xaxis: {
          categories: [2018],
        },
      },
      chartPointsOptions: {
        chart: {
          id: chartPointsName,
        },
        xaxis: {
          categories: [2018],
        },
      },
      seriesGames: [{
        name: 'Games',
        data: [0],
      }],
      seriesPoints: [{
        name: 'Points',
        data: [0],
      }],
    };
  },
  mounted() {
    this.fetchPlayerDetails();
    this.fetchNextStatsPage();
  },
  methods: {
    fetchPlayerDetails() {
      axios.request<Player>({
        url: `https://www.balldontlie.io/api/v1/players/${this.$route.params.id}`,
        transformResponse: [
          (data) => camelcaseKeys(JSON.parse(data), { deep: true }),
        ],
      }).then((response:AxiosResponse<Player>) => {
        this.player = response.data;
      });
    },
    fetchNextStatsPage() {
      axios.request<Stats>({
        url: `https://www.balldontlie.io/api/v1/stats?player_ids[]=${this.$route.params.id}`,
        params: {
          page: this.statsPagination.next,
          per_page: 100,
        },
        transformResponse: [
          (data) => camelcaseKeys(JSON.parse(data), { deep: true }),
        ],
      }).then((response:AxiosResponse<Stats>) => {
        this.statsRaw.data.push(...response.data.data);
        this.statsRaw.meta = response.data.meta;
        this.statsPagination.total = this.statsRaw.meta.totalPages;
        this.statsPagination.current = this.statsRaw.meta.currentPage;
        this.statsPagination.next = this.statsRaw.meta.nextPage;

        if (this.statsPagination.next) {
          this.fetchNextStatsPage();
        } else {
          this.isLoading = false;
          this.setupStats();
        }
      });
    },
    setupStats() {
      if (!this.statsRaw) {
        return;
      }

      this.statsRaw.data.forEach((item) => {
        if (this.stats.games[item.game.season]) {
          this.stats.games[item.game.season] += 1;
        } else {
          this.stats.games[item.game.season] = 1;
        }

        if (this.stats.points[item.game.season]) {
          this.stats.points[item.game.season] += item.pts;
        } else {
          this.stats.points[item.game.season] = item.pts;
        }
      });

      this.updateChart();
    },
    updateChart() {
      const newCategories = (Object.keys(this.stats.games)).map((item) => parseInt(item, 10));

      this.chartGamesOptions = {
        chart: {
          id: chartGamesName,
        },
        xaxis: {
          categories: newCategories,
        },
      };
      this.chartPointsOptions = {
        chart: {
          id: chartGamesName,
        },
        xaxis: {
          categories: newCategories,
        },
      };

      this.seriesGames = [{
        name: 'Games',
        data: Object.values(this.stats.games),
      }];

      this.seriesPoints = [{
        name: 'Points',
        data: Object.values(this.stats.points),
      }];
    },
  },
});
</script>
