<template>
  <apexchart
    :type="type"
    :options="options"
    :series="series"
  ></apexchart>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Dashboard',
  props: {
    type: {
      type: String,
      default: 'bar',
    },
    options: {
      type: Object,
      required: true,
    },
    series: {
      type: Array,
      required: true,
    },
  },
});
</script>
