<template>
  <v-footer>
    <v-card
      flat
      tile
      width="100%"
      class="text-center"
    >
      <v-divider></v-divider>
      <v-card-text>
        <v-btn
          class="mx-4"
          icon
          target="_blank"
          href="http://damianszkudlarek.pl"
        >
          <v-icon size="24px">
            mdi-home
          </v-icon>
        </v-btn>
        <v-btn
          class="mx-4"
          icon
          href="mailto:damianszkudlarek@gmail.com"
        >
          <v-icon size="24px">
            mdi-email
          </v-icon>
        </v-btn>
        <v-btn
          class="mx-4"
          icon
          target="_blank"
          href="https://bitbucket.org/damianszkudlarek/nba-app/src/master/"
        >
          <v-icon size="24px">
            mdi-git
          </v-icon>
        </v-btn>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<style lang="scss" scoped>
.v-footer {
  padding-top: 0;
}
</style>
