<template>
  <v-app-bar class="header" :height="84">
    <router-link to="/">
      <v-img
        :src="require('@/assets/logo.jpg')"
        width="50"
      />
    </router-link>
  </v-app-bar>
</template>

<style lang="scss">
.header {
  padding:20px;
}
</style>
