<template>
  <div class="loaderWrapper">
    <v-progress-circular
      :size="70"
      :width="7"
      color="purple"
      indeterminate
    />
  </div>
</template>

<style>
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
</style>
