<template>
  <v-app>
    <Header />
    <router-view />
    <Footer />
  </v-app>
</template>

<style lang="scss">
.nbaDashboard {
  height: 100%;
  padding-top:100px;
}
.v-application__wrap {
  background:url('~@/assets/nba.jpg') !important;
  background-size: cover;
  &:after {
    content: "";
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    background:rgba(255,255,255,0.95);
    z-index: 0;
  }
  &>* {
    z-index: 1;
  }
}
.v-row {
  margin: 0 -12px;
}
</style>

<script lang="ts">
import { defineComponent } from 'vue';
import Header from '@/components/common/Header.vue';
import Footer from '@/components/common/Footer.vue';

export default defineComponent({
  name: 'App',
  components: {
    Footer,
    Header,
  },
});
</script>
